.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body,
#root,
#root > div {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 0.15em !important;
}
