.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-image: linear-gradient(180deg, #A741A1 10px, #6C2291 32px, #3F0B7D 44px, #000000 64px);
}

html,
body,
#root,
#root > div {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 0.15em !important;
}

.data-table {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8rem;
}
.graph-graphic {
  position: absolute;
  width: 100%;
  height: 100%;
}
.graph-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.graph-min-date {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
}
.graph-max-date {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
}

a {
  display: inline-block;
  margin: 0 0.5rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #f06 !important;
}
